.aux-nav-bar {
    background-color: #444;
    color: #FFF;
}
/deep/ .aux-nav-bar a, 
/deep/ .aux-nav-bar .dx-menu-item {
    color: #FFF;
}
/deep/ .aux-nav-bar a, 
/deep/ .aux-nav-bar .dx-menu-item-expanded, 
/deep/ .aux-nav-bar .dx-menu-item.dx-state-hover {
    color: #444;
}