<div class="primary-bar">
  <ul class="ah-page-wrapper container">
    <li>
      <a routerLinkActive="active" routerLink="/home">
        Home
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/healthInsurace">
        Health & Insurance
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/lifeEvents">
        Life Events
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/otherBenefits">
        Other Benefits
      </a>
    </li>
  </ul>
</div>