<div class="container clearfix">
	<br/>
	<div class="row">
		<div class="col-md-3 col-sm-12 col-xs-12">
			<p class="aonlogo"><img src="../../assets/images/upoint_blk.png"> <span>Delivered by Aon</span></p>
		</div>
		<div class="col-md-9 col-sm-12 col-xs-12">
			<ul class="ah-footer">
				<li id="button">Choose a Language</li>
				<li>Legal Information</li>
				<li>Privacy Statement</li>
				<li>Cookie Notice</li>
				<li>Contact Us</li>
				<li>Feedback</li>
			</ul>
		</div>
	</div>
	<p class="copyright">© 2012-17 Aon plc</p>
</div>